<div class="container-fluid">
    <div class="row p-5">
        <div class="col-md-12 m-auto pt-5" style="text-align: center;">
            {{#if users}}
            <table class="table text-dark">
                <thead>
                    <tr>
                        <th scope="col">Number</th>
                        <th scope="col">Name</th>
                        <th scope="col">Mail Addres</th>

                    </tr>
                </thead>
                <tbody>
                    {{#each users}}

                    <tr>
                        <td>{{@index}}</td>
                        <td>{{this.name}}</td>
                        <td>{{this.email}}</td>
                    </tr>

                    {{/each}}
                </tbody>
            </table>
            {{else}}
            <h1 class="text-dark mt-5 pt-5" style="font-weight: 800; font-size: 90px;">Nothing Found...</h1>
            {{/if}}
        </div>
    </div>
</div>

<style>
    /* Style for the table */
    .table {
        background-color: #ffffff;
        /* White background color */
        color: #000;
        /* Dark text color */
        border-radius: 10px;
        /* Rounded corners */
        font-weight: 800;
    }

    /* Style for table headings */
    .table th {
        background-color: #a1aff2;
        /* Background color for headings */
        border: none;
        /* Remove border */
    }

    /* Style for table body */
    .table tbody tr:nth-child(even) {
        background-color: #e6e9f7;
        /* Alternate row color */
    }

    /* Style for table cell content */
    .table td,
    .table th {
        padding: 10px;
        /* Padding for cell content */
    }
</style>