<nav id="suserhd" class="navbar navbar-expand-lg" style=" position: fixed; z-index: 2; width: 100%;">
    <a class="nav-link  nav-hover-effect mr-4 " href="/suser"
        style="text-decoration: none;color: #ffff; text-align: center; font-family: sans-serif; font-weight: 800; text-shadow: 5px 5px 4px rgba(0, 42, 255, 0.8); font-size: 20px;">
        HOME
        <span class="sr-only">(current)</span>
    </a>
    <button class="navbar-toggler mr-3" style="border: solid; color: #ffff;" onclick="colorchange()" type="button"
        data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="pt-2">MORE</span>
    </button>
    <script>
        var change = null;
        function colorchange() {
            if (change == true) {
                document.getElementById('suserhd').style.backgroundColor = ""
                change = null;
            }
            else {
                document.getElementById('suserhd').style.backgroundColor = "#15181E"
                console.log(change)
                change = true;
            }

        }
    </script>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link  nav-hover-effect mr-4" href="/suser/findbus"
                    style="text-decoration: none;color: #ffff; text-align: center; font-family: sans-serif; font-weight: 800; text-shadow: 5px 5px 4px rgba(0, 42, 255, 0.8); font-size: 20px;">
                    BUS
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link  nav-hover-effect" href="/suser/viewtickets"
                    style="text-decoration: none;color: #ffff; text-align: center; font-family: sans-serif; font-weight: 800; text-shadow: 5px 5px 4px rgba(0, 42, 255, 0.8); font-size: 20px;">
                    TICKETS
                </a>
            </li>
        </ul>
        <div class="shake-icon mr-5 mt-2">
            <a href="/suser/notification" class="icon-button" style="text-decoration: none;color: #ffff;text-shadow: 3px 3px 4px rgba(0, 42, 255, 0.8)">
                <span class="material-icons">notifications</span>
            </a>
        </div>
        <div class="star-point mr-4 mt-2">
            <a class="text-dark" href="/suser/creditstar" style="text-decoration: none; color: #fff;">
                <div class="p-2 text-dark"
                    style="box-shadow: rgba(22, 22, 23, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; display: flex; align-items: center; padding: 2px; border-radius: 50%; background-color: white;">
                    <i class="fa fa-star mr-2" style="font-size: 18px; font-weight: 800;color: rgb(191, 164, 7);"></i>

                    <p id="credstar" style="margin-left: 8px; font-size: 16px; margin: 0;font-weight: 800;">&ensp;0</p>
                </div>
            </a>
        </div>
        <div class="dropdown">
            <button class="btn text-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"
                style="text-align: center; font-family: sans-serif; font-weight: 800; text-shadow: 2px 2px 4px rgba(0, 42, 255, 0.8); background: transparent; font-size: 20px;">
                {{#if suser}}
                {{suser.name}}
                {{else}}
                Account
                {{/if}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {{#if suser}}
                <a class="dropdown-item" href="/suser/logout">Logout</a>
                <a class="dropdown-item" href="/suser/about">About</a>
                {{else}}
                <a class="dropdown-item" href="/suser/login">Login</a>
                <a class="dropdown-item" href="/suser/signup">signup</a>
                <a class="dropdown-item" href="/suser/about">About</a>
                {{/if}}
            </div>
        </div>
    </div>
</nav>

{{#if notfy}}
<style>
    .shake-icon {
        animation: shake 0.5s infinite;
        border-radius: 50%;
    }

    @keyframes shake {
        0% {
            transform: translateX(0);
        }

        25% {
            transform:
                translateX(-5px);
        }

        50% {
            transform: translateX(5px);
        }

        75% {
            transform:
                translateX(-5px);
        }

        100% {
            transform: translateX(0);
        }
    }
</style>
{{/if}}
<style>
    /* CSS for nav-item hover effect */
    .nav-hover-effect {
        position: relative;
        transition: color 0.3s ease;
    }

    .nav-hover-effect:hover {
        color: rgba(66, 94, 237, 0.8);
        /* Change text color on hover */
    }

    .nav-hover-effect:hover::before {
        content: "";
        position: absolute;
        width: calc(100% - 20px);
        /* Adjust the width of the underline */
        height: 2px;
        bottom: -2px;
        left: 10px;
        /* Adjust the left spacing */
        background-color: #ffff;
        /* Faded version of text shadow color */
    }
</style>

{{#if suser}}
<script>
    $.ajax({
        url: '/suser/getstarscore',
        method: 'get',
        success: (response) => {
            if (response.stars > 0) {
                document.getElementById('credstar').innerHTML = response.stars
            }
            else {
                document.getElementById('credstar').innerHTML = 0
            }
        }
    })
</script>
{{/if}}