<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 m-auto p-5">
            <div class="m-5 text-center" id="text">
                <h1>TICKET SURE</h1>
                <p class="text-light" style="font-size: 20px;">
                    <span style="font-size: 30px;">I</span>n an era where digital solutions are redefining efficiency
                    across various sectors, the
                    management of ticketing systems for events and bus services stands at the forefront of innovation.
                    Introducing 'TicketSure', our ambitious project aimed at revolutionizing the way tickets are
                    generated
                    and
                    validated.
                    TicketSure addresses the complexities faced by event organizers and bus operators in managing
                    ticketing
                    operations seamlessly. Traditional methods often involve manual processes and paper tickets, leading
                    to
                    challenges in accuracy and efficiency. Our solution aims to transcend these limitations by providing
                    a
                    robust, user-friendly platform that facilitates smooth ticket creation, purchase, and validation.
                    Event and bus owners will find TicketSure indispensable for effortlessly adding ticket details,
                    managing
                    sales, and ensuring accurate ticket distribution. Users will experience a streamlined ticket
                    purchasing
                    process, receiving a QR code upon purchase that serves as their digital ticket. This QR code can be
                    efficiently verified by designated checkers, enhancing security and reducing entry bottlenecks.
                    TicketSure
                    leverages modern technologies to deliver a comprehensive solution that enhances convenience,
                    transparency,
                    and operational efficiency in ticket management.
                    This report will provide a detailed overview of the project's objectives, scope, methodology, and
                    expected
                    outcomes.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="cntainer-fluid">
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline" onsubmit="return false;">
                <input class="form-control mr-sm-2" name="from" type="text" list="choos" placeholder="Search" id="searchInput"
                    oninput="redirectToSelectedOption()" />
                <datalist id="choos">

                </datalist>
            </form>
        </div>
    </div>
</div>



<style>
    .container-fluid {
        background-color: #15181e;

        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .text {
        color: #ffff;
        font-weight: 800;

    }

    h1 {
        color: #ffff;
        font-weight: 800;
        font-size: 60px;
        text-shadow: 2px 2px 4px rgba(0, 42, 255, 0.8);
    }
</style>