<div class="container-fluid" style="background-color: #15181E; height: 99.8vh; display: flex; justify-content: center; align-items: center;">
    <div class="row">
        <div class="col-md-12 text-center">
            <img id="video" src="/sound/Currently under construction_ This service is momentarily out of reach. (1).gif" style="width: 90%; height: 90vh;" alt="" class="mt-5">
        </div>
    </div>
</div>
