<div id="first" class="container-fluid" style="background-color: #15181e; scroll-behavior: smooth; background-attachment: fixed;">
    <div class="row" style="width: 100%;">

        <div class="col-md-6 mt-5" style="width: 100%;">
            <div class="mt-3 pl-4" style="width: 100%;">

                <div style="display: flex; align-items: center; width: 100%; animation: fadeIn 2s;">
                    <img id="logos" class="mt-5 ml-5 mb-5" style="width: 130px; height: 160px; animation: bounceIn 2s;" src="/addimage/main.png" alt="">
                    <div class="pt-3" style="width: 480px; height: 244px; animation: zoomIn 2s;">
                        <img id="logos" class="img-fluid mt-5" src="/bgimage/Now!.png" alt="">
                    </div>
                </div>
                <style>
                    #hding {
                        font-weight: 900;
                        font-size: 60px;
                        font-stretch: expanded;
                    }
                </style>
            </div>
            <div class="container-fluid" style="width: 100%;">
                <div class="row">
                    <div class="col-md-12" style="width: 100%;">
                        <p class="pl-3 pb-0 mb-0 text-light" style="display: inline-block; writing-mode: tb-rl; font-size: 49px; vertical-align: middle; animation: slideInLeft 2s;">
                            <b style="text-shadow: 3px 3px 6px rgba(0, 42, 255, 0.8);">YOUR TRAVEL TICKETS<span style="color: rgba(47, 0, 255, 0.8);">.</span></b>
                        </p>
                        <div style="display: inline-block; text-align: right; width: auto;">
                            <p class="text-light" style="font-weight: 800; font-size: 30px; margin-top: 183px; animation: slideInRight 2s;">
                                <i>"Here You Can Purchase Any Travaling Ticke<span class="text-light">ts"</span></i>
                            </p><br>
                            <a class="btn btn-outline btn-dark text-light" style="background-color: rgba(47, 0, 255, 0.8); animation: fadeIn 2s;" href="/suser/findbus"><b>Lets Start</b></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="width: 100%;">
            <div class="mt-3">
                <div class="float-right d-flex justify-content-center align-items-center" style="font-family: serif; margin-top: 205px; height: 128px; width: 136px; border-top: 5px solid white; border-bottom: 5px solid white; border-left: 5px solid white; border-right: 5px solid white; animation: zoomIn 2s;">
                    <div class="text-center">
                        <p class="text-light" style="font-weight: 900;"><b>E D I T I O N</b></p>
                        <p class="text-light" style="font-weight: 900; font-size: 20px;">2 0 2 4</p>
                    </div>
                </div>
            </div>
            <div style="margin-top: 521px; margin-left: 510px; width: 400px; height: 400px;">
                <p class="text-light" style="font-size: 20px; font-family: sans-serif; animation: fadeIn 2s;"><b>WE CAN PROVIDE ANY TYPE<br><span>OF TICKETS</span></b></p>
                <p class="text-light" style="font-size: 16px; font-family: sans-serif; animation: fadeIn 2s;"><b>Here you can purchase bus tickets online to reserve your bus seat. If you are on the bus, you should show the ticket to the checker for verification</b></p>
                <a class="btn mr-3" style="background-color: rgba(47, 0, 255, 0.8); text-decoration: none; animation: fadeIn 2s;" href="/suser/about"><b>About Me</b></a>
                <a class="btn text-dark" style="background-color: #ffffff; text-decoration: none; font-weight: 800; animation: fadeIn 2s;" href="#footer">Read More</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="width: 100%;">
    <div class="row">
        <div class="col-md-12 text-center" style="background-color: #15181e;">
            <link rel="stylesheet" href="/stylesheets/footer.css">
            <footer style="width: 100%;" id="footer">
                <div class="footer text-center" style="width: 100%; pl-5">
                    <div class="p-5">
                        <a href="#" class="m-5"><i class="fa fa-facebook" style="font-size: 30px;"></i></a>
                        <a href="#" class="m-5"><i class="fa fa-instagram" style="font-size: 30px;"></i></a>
                        <a href="#" class="m-5"><i class="fa fa-youtube" style="font-size: 30px;"></i></a>
                        <a href="#" class="m-5"><i class="fa fa-twitter" style="font-size: 30px;"></i></a>
                    </div>
                    <div class="text-center">
                        <p class="pl-5 text-light">TICKET_SURE Copyright © 2024 Ticket_Sure - All rights reserved || Developed By: XXXX X X</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>

<style>
    body {
        background-color: #15181e;
        transition: background-color 1s;
    }

    #first {
        background-image: url(/bgimage/Untitled\ design\ \(9\).png);
        background-attachment: scroll;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        height: 100vh;
        display: flex;
        animation: fadeIn 4.0s ease-in-out forwards;
    }

    .card {
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        height: 648px;
    }

    .card-img {
        border-radius: 20px;
    }

    a {
        color: #fcfbfb;
    }

    .card-img-top {
        height: 250px;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes slideInLeft {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(0);
        }
    }

    @keyframes slideInRight {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(0);
        }
    }

    @keyframes bounceIn {
        0%, 20%, 50%, 80%, 100% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-30px);
        }
        60% {
            transform: translateY(-15px);
        }
    }

    @keyframes zoomIn {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(1);
        }
    }
</style>
