<div class="container-fluid" id="first">
    <div class="row">
        <div class="col-md-12">
           
        </div>
    </div>
</div>

<style>
    #first {
        background-image: url('/images/Ticketsmall.png');
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        text-align: center;
    }
</style>
