<div class="container-fluid" id="bgchecker">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 style="font-size: 50px; font-weight: 800; font-family: fantasy; text-shadow: 2px 2px 4px rgba(66, 94, 237, 0.8);">WELCOME TO THE TICKET VALIDATION</h1>
            <p style="font-weight: 800; font-size: 23px;">Here, you can access permitted tickets, verify, and manage them. This website provides access to help you finish your job.</p>
            <a href="https://webqr.com/" class="qr-button">Go to QR Scanner</a>
        </div>
    </div>
</div>

<style>
    #bgchecker {
        background-image: url(/background/checkerbg.png);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content {
        max-width: 600px;
        /* Adjust as needed */
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.8);
        /* Semi-transparent white background */
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        /* Box shadow for card effect */
    }

    .content h1 {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .content p {
        font-size: 1.2rem;
        line-height: 1.6;
        margin-bottom: 20px;
    }

    .qr-button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        /* Bootstrap blue color */
        color: white;
        font-size: 1.2rem;
        font-weight: bold;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        margin-top: 20px; /* Adjust margin as needed */
    }

    .qr-button:hover {
        background-color: #0056b;
    }
</style>
